@use "../abstracts/" as *;

.container {
  --padding: #{$container-min-margin-inline} * 2;
  --max-width: #{$container-max-width};

  width: min(100% - var(--padding), var(--max-width));
  margin-inline: auto;
}

.container[data-type="narrow"] {
  --max-width: #{$container-max-width-narrow};
}
.container[data-type="narrow2"] {
  --max-width: #{$container-max-width-narrow2};
}
.container[data-type="narrow3"] {
  --max-width: #{$container-max-width-narrow3};
}
.container[data-type="wide"] {
  --max-width: #{$container-max-width-wide};
}
.container[data-type="full-bleed"] {
  --max-width: 100%;
}

.margin-phone {
  margin-left: 2rem;
  margin-right: 2rem;
  @media (min-width: 800px) {
    margin-left: 0rem;
    margin-right: 0rem;
  }
}

