@use "../abstracts/" as *;

.ff-base {
  font-family: $font-family-base;
}
.ff-accent {
  font-family: $font-family-accent;
}

.ff-text-main {
  color: $clr-neutral-000;
  font-size: 16px; 
  line-height: 35.2px; 
}

.ff-text-main-black {
  color: $clr-neutral-900;
  font-size: 1rem; 
  line-height: 2.2rem; 
}

.ff-escape {
    display: inline-block;
    text-align: center;
    transition: transform 0.2s;
    
    &:is(:hover, :focus) {
      transform: translate(300px, 0px);
    }
}

.ff-red-circle {
  display: inline-block;
    background-color: #ffffff;
    color: #ff4d07e3;
    border: 0px solid #0500009f;
    border-radius: 50%;
    font-size: 30px;
    line-height: 34px; /* set to same size as width, height */
    width: 35px;
    height: 35px;
    text-align: center;
    box-shadow: 1px -1px 5px rgb(155, 155, 155), -1px -1px 1px rgb(193, 192, 192), 3px 3px 3px rgb(55, 55, 55), 1px 1px 1px rgb(19, 19, 19), 5px 5px 3px rgb(136, 136, 136);
    transition: transform .3s ease-out;
    animation: flyup 1s ;
}

.ff-red-circle:nth-child(1) {
  animation-delay: 0s;
}
.ff-red-circle:nth-child(2) {
  animation-delay: 0.1s;
}
.ff-red-circle:nth-child(3) {
  animation-delay: 0.2s;
}
.ff-red-circle:nth-child(4) {
  animation-delay: 0.3s;
}
.ff-red-circle:nth-child(5) {
  animation-delay: 0.4s;
}
.ff-red-circle:nth-child(6) {
  animation-delay: 0.5s;
}
.ff-red-circle:nth-child(7) {
  animation-delay: 0.6s;
}

.ff-red-circle-small {
  display: inline-block;
    background-color: #ffffff;
    color: #ff4d07e3;
    border: 0px solid #0500009f;
    border-radius: 50%;
    font-size: 22px;
    line-height: 28px; /* set to same size as width, height */
    width: 27px;
    height: 27px;
    text-align: center;
    box-shadow: 1px -1px 5px rgb(155, 155, 155), -1px -1px 1px rgb(193, 192, 192), 3px 3px 3px rgb(55, 55, 55), 1px 1px 1px rgb(19, 19, 19), 5px 5px 3px rgb(136, 136, 136);
    transition: transform .3s ease-out;
    animation: flyup 1s ;
}

.ff-red-circle-small:nth-child(1) {
  animation-delay: 0s;
}
.ff-red-circle-small:nth-child(2) {
  animation-delay: 0.1s;
}
.ff-red-circle-small:nth-child(3) {
  animation-delay: 0.2s;
}
.ff-red-circle-small:nth-child(4) {
  animation-delay: 0.3s;
}
.ff-red-circle-small:nth-child(5) {
  animation-delay: 0.4s;
}
.ff-red-circle-small:nth-child(6) {
  animation-delay: 0.5s;
}
.ff-red-circle-small:nth-child(7) {
  animation-delay: 0.6s;
}

.ff-flash {
  list-style: none;

  a { color: $clr-neutral-000;
      text-shadow: -1px -1px 1px rgba(145, 145, 145, 0.442), 2px 2px 2px rgb(91, 91, 91), 1px 1px 1px rgb(160, 160, 160), 1px 1px 1px rgba(0, 0, 0, 0.521);
      text-decoration: $navigation-link-text-decoration;
      transition: transform .3s ease-out;
      display: inline-block;

      &:is(:hover, :focus) {
      
      color: $clr-neutral-000; 
      text-shadow:   5px 5px 10px rgb(255, 170, 0), 5px 5px 15px rgb(255, 174, 0), 5px 5px 20px rgb(255, 198, 40), -1px -1px 1px rgb(255, 198, 40), 2px 2px 2px rgb(255, 176, 40), 1px 1px 1px rgb(255, 198, 40), 3px 3px 2px rgba(0, 0, 0, 0.698) ;
      }
    }
}

.ff-neon-box {
  list-style: none;

  a { display: inline-block;
      background-color: rgb(255, 255, 255);
      
      border: 1px solid rgb(255, 255, 255);

      height: 40px;
      width: 150px;
      line-height: 38px;
      text-align: center;
      
      color: $clr-neutral-900;
      box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.468);
      
      transition: transform .3s ease-out;
      display: inline-block;
      text-decoration: none;
       
      animation: NeonRedYellow 1s ;
      animation-iteration-count: infinite;
      
    }
}

.ff-neon-box-hover {
  list-style: none;

  a { display: inline-block;
      background-color: rgb(255, 255, 255);
      
      border: 1px solid rgb(255, 255, 255);
      height: 40px;
      width: 150px;
      line-height: 38px;
      text-align: center;
      
      color: $clr-neutral-900;
      box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.191);
      
      transition: transform .3s ease-out;
      display: inline-block;
      text-decoration: none;

      &:is(:hover, :focus) {
        
        background-color: rgb(255, 255, 255);
        color: $clr-neutral-900; 
        font-weight: bolder;
        animation: NeonRedYellow 0.3s ;
        animation-iteration-count: infinite;
      }
    }
}

.ff-neon-pink {
  list-style: none;
  color: rgb(255, 233, 255);
  font-weight: lighter;
  text-shadow: -2px -2px 20px rgb(255, 2, 171), 2px 2px 20px rgb(255, 2, 171), -2px -2px 5px rgb(255, 2, 171), 2px 2px 5px rgb(255, 2, 171), 1px 1px 20px rgb(255, 2, 171), 1px 1px 20px rgb(255, 2, 171), 1px 1px 5px rgb(255, 2, 171), 1px 1px 5px rgb(255, 2, 171);
}

.ff-neon-blue {
  list-style: none;
  color: rgb(222, 231, 255);
  font-weight: lighter;
  text-shadow: -2px -2px 20px rgb(0, 60, 255), 2px 2px 20px rgb(0, 60, 255), -2px -2px 5px rgb(0, 60, 255), 2px 2px 5px rgb(0, 60, 255), 1px 1px 20px rgb(0, 60, 255), 1px 1px 20px rgb(0, 60, 255), 1px 1px 5px rgb(0, 60, 255), 1px 1px 5px rgb(0, 60, 255);
}

.ff-shine {
  
  color: $clr-accent-000;
  text-shadow: rgb(255, 228, 50) 1px 0px 7px;

}

.ff-blink {
  animation: TurnOff 0.7s;
  animation-iteration-count: 4;
}
.ff-blink2 {
  animation: TurnOn 0.2s;
  animation-iteration-count: 7;
}

.ff-blink-end {
  color: $clr-neutral-000; 
  text-shadow:   2px 2px 10px rgb(255, 198, 40), 5px 5px 15px rgb(255, 198, 40), -5px -5px 30px rgb(255, 198, 40), 5px 5px 20px rgb(255, 198, 40), -5px -5px 30px rgb(255, 183, 0), 5px 5px 30px rgb(255, 183, 0), -1px -1px 10px rgb(255, 174, 0), 2px 2px 2px rgb(255, 198, 40), 1px 1px 10px rgb(255, 174, 0), 2px 2px 3px rgba(0, 0, 0, 0.823), -2px -2px 2px rgba(0, 0, 0, 0.109) ;
  font-weight: bolder;
}

@keyframes TurnOff {
  0% { color: $clr-neutral-000; 
       text-shadow: 3px 3px 10px rgb(255, 198, 40), -3px -3px 10px rgb(255, 198, 40), -3px -3px 15px rgb(255, 198, 40), -1px -1px 1px rgb(255, 198, 40), 2px 2px 2px rgb(255, 198, 40), 1px 1px 1px rgb(255, 198, 40), 1px 1px 1px rgba(0, 0, 0, 0.465), -5px -5px 2px rgba(0, 0, 0, 0.064) ;}
  50% { color: $clr-neutral-000;
         text-shadow: 1px 1px 2px rgb(214, 214, 214), 0px 0px 3px rgb(255, 255, 255), 1px 1px 3px rgb(76, 76, 76); }
  100% { color: $clr-neutral-000;
         text-shadow:  1px 1px 2px rgb(214, 214, 214), 0px 0px 3px rgb(255, 255, 255), 1px 1px 3px rgb(76, 76, 76); }
}

@keyframes TurnOn {
  0% { color: $clr-neutral-000;
       text-shadow: -1px -1px 1px rgb(214, 214, 214), 2px 2px 2px rgb(214, 214, 214), 1px 1px 1px rgb(214, 214, 214), 3px 3px 2px rgba(0, 0, 0, 0.593); }
  100% { color: $clr-neutral-000;
         text-shadow: 3px 3px 10px rgb(255, 198, 40), -3px -3px 10px rgb(255, 198, 40), -1px -1px 1px rgb(255, 198, 40), 2px 2px 2px rgb(255, 198, 40), 1px 1px 1px rgb(255, 198, 40), 1px 1px 1px rgba(0, 0, 0, 0.602), -5px -5px 2px rgba(0, 0, 0, 0.444) ; } 
}

@keyframes NeonRedYellow {
  0% {  border: 5px dotted rgb(0, 255, 255);
    
    line-height: 30px;
    box-shadow: -1px -1px 5px rgb(76, 240, 248), 1px 1px 10px rgb(56, 208, 255), 1px 1px 5px rgb(51, 255, 255), 1px 1px 10px rgb(56, 255, 248), 1px 1px 5px rgb(0, 251, 255); }
  50% {  border: 3px dotted yellow;
    padding-top: 0.09rem;
    
    line-height: 30px;
    box-shadow: -1px -1px 5px rgb(242, 0, 255), 1px 1px 10px rgb(242, 0, 255), 1px 1px 5px rgb(242, 0, 255), 1px 1px 10px rgb(242, 0, 255), 1px 1px 5px rgb(242, 0, 255); }
  100% { 
    padding-top: 0.24rem;
      
    line-height: 30px;
      box-shadow: -1px -1px 5px rgb(255, 234, 0), 1px 1px 10px rgb(255, 225, 0), 1px 1px 5px rgb(255, 225, 0), 1px 1px 10px rgb(255, 225, 0), 1px 1px 5px rgb(255, 225, 0); }
}

@keyframes flyup {
  0% { transform: translate(0px, -500px);}
  100% { transform: translate(0px, 0px);}
}

@keyframes escape {
  0% { transform: translate(0px, 0px);}
  100% { transform: translate(200px, 0px);}
}