---
import '@fontsource/twinkle-star';
import '@fontsource/dancing-script';
import '@fontsource/herr-von-muellerhoff';
import '@fontsource/monoton';
import '@fontsource/codystar';
import '@fontsource/cinzel-decorative';

import Layout from "../layouts/Layout.astro";

export const prerender = true;
---

<Layout 
    title="Guest survey"
    siteheader="sh-gs"
>
    
	<script>
        
    </script>

    <section class="hero | section | body_web" style="background: rgb(22, 21, 21); padding-top: 10rem; padding-bottom: 10rem">
		<div class="container" data-type="wide">
            <div class="even-columns">
                <div class="">
                    <h1 class="heading-1" style="padding-top:0rem">
				        <div class="ff-neon-pink" style="font-family: Herr von Muellerhoff">
					        Guest Survey
				        </div>
	  		        </h1>
		            </br>
                    </br>
                    <p class="ff-text-main">
                        Please let us know if you can be part of our wedding as soon as possible. This will help us with planning the event, while addressing your needs. The survey is available in German, Korean and English. Select your language below.
                    </p>
                    
                    </br>
                    <div class="even-columns " style="margin-top: 1.5rem";>
                        <div class="flex-group | neonPink ">
                            <a href="https://forms.gle/mLHLkHzysE7teyLW9" class="" data-type="accent" style="box-shadow: 0px 0px 20px black; background: rgb(34, 34, 34); color:white;">German</a>
                        </div>
                        <div class="flex-group | neonPink">
                            <a href="https://forms.gle/xNudeU5pT55fNwkH6" class="" data-type="accent" style="box-shadow: 0px 0px 20px black; background: rgb(34, 34, 34); color:white;">Korean</a>
                        </div>
                        <div class="flex-group | neonPink">
                            <a href="https://forms.gle/m8b5mL1kHoXJJ2h96" class="" data-type="accent" style="box-shadow: 0px 0px 20px black; background: rgb(34, 34, 34); color:white;">English</a>
                        </div>
                        <div class="flex-group | neonPink">
                            <a href="/forms" class="" data-type="accent" style="box-shadow: 0px 0px 20px black; background: rgb(34, 34, 34); color:white;">test</a>
                        </div>
                    </div>
                </div>
                <div class="imagecenter" style="">
                    <img src="/Wendelstein.jpeg" height="250"/>
                </div>
            </div>
        </div>
    </section>


        <div class="body_phone">
            <section class="hero | section" style="background: rgb(56, 54, 54); padding-top: 5rem; padding-bottom: 5rem">
		<div class="container" data-type="narrow" style="margin-left: 2rem; margin-right: 2rem;" >
    
        
            <h1 class="heading-1" style="padding-top:2rem; margin-left: 1rem; margin-right: 2rem;">
				<div class="ff-neon-pink" style="font-family: Herr von Muellerhoff">
					Guest Survey
				</div>
	  		</h1>
		</br>
        </br>
            <p class="ff-text-main" style="margin-left: 1rem; margin-right: 2rem;">
                Please let us know if you can be part of our wedding as soon as possible. This will help us with planning the event, while addressing your needs. The survey is available in German, Korean and English. Select your language below.
            </p>
        </br>
            
        <div class="even-columns" style="margin-top: 1.5rem; margin-bottom: 1.5rem; margin-left: 0rem; margin-right: 2rem;">
                <div class="imagecenter | neonPinkstatic" style="">
                    <a href="https://forms.gle/mLHLkHzysE7teyLW9" class="" data-type="accent" style="box-shadow: 0px 0px 20px black; background: rgb(50, 49, 49); color:white;">German</a>
                </div>
                <div class="imagecenter | neonPinkstatic">
                    <a href="https://forms.gle/xNudeU5pT55fNwkH6" class="" data-type="accent" style="box-shadow: 0px 0px 20px black; background: rgb(50, 49, 49); color:white;">Korean</a>
                </div>
                <div class="imagecenter | neonPinkstatic">
                    <a href="https://forms.gle/m8b5mL1kHoXJJ2h96" class="" data-type="accent" style="box-shadow: 0px 0px 20px black; background: rgb(50, 49, 49); color:white;">English</a>
                </div>
                <div class="imagecenter | neonPinkstatic">
                    <a href="/forms" class="" data-type="accent" style="box-shadow: 0px 0px 20px black; background: rgb(50, 49, 49); color:white;">test</a>
                </div>
            </div>
        </div>
        <div class="" >
            <img src="/Wendelstein.jpeg" style=" margin-top: 4rem ;"/>
        </div>
    

</section>
</div>


</Layout>