---
import HomeLayout from '../layouts/HomeLayout.astro';
---
<HomeLayout title="WELCOME friends!">
  <section class="hero | section">
		<div class="container">
      <div class="even-columns">
        <div class="">
          <h1 class="heading-1">
          </br></br>
            <div class="fade-in-text-5" style="font-family: Herr von Muellerhoff">
              Welcome to the wedding page of
            </div>
          </h1>
        <div>
        </br>
        </div>
          <h1 class="heading-2 | ff-flash">
            <span class="fade-in-text-10" style="font-family: Codystar">
              Nani & Sebastian
            </span>
          </h1>
        </br>
          <p>
            Dichte ist der Quotient aus Masse und Volumen: Dichte = Masse Volumen . Die Masse und das Volumen einer Stoffportion sind zueinander gleich. Die Einheit der Dichte wird in Chemiebüchern aus praktischen Gründen in g c m 3 angegeben, im Physikunterricht wird in der Regel die Einheit in k g m 3 angegeben.
            <br>
            </br> 
          </p>
          <div class="even-columns">
            <div class="flex-group">
              <a href="/guestsurvey" class="button" data-type="accent">Join our wedding</a>
            </div>
            <div class="flex-group">
              <a href="/location" class="button">Learn more</a>
            </div>
          </div>
        </div>
        <h1>
          </br></br>
          
        <div class="imagecenter | fade-in-text-5">
          <img src="/4U4A7336.png" alt="a" height="500"/>
        </div>
      </h1>
      </div>
    </div>
  </br></br></br></br>
  </section>
</HomeLayout>