---
import Layout from '../layouts/Layout.astro';
export const prerender = true;
---

<Layout
	title="Location"
	siteheader="sh-location"
>
	<section class="hero | section | body_web" style="background: rgb(22, 21, 21); padding-top: 10rem; padding-bottom: 10rem">
		<div class="container" data-type="wide">
			<div class="even-columns">
				<div class="">
					<h1 class="heading-1">
							<div class="ff-neon-pink" style="font-family: Herr von Muellerhoff">
							  Location
							</div>
					</h1>
				</br>
					<p class="ff-text-main">
						All of you are cordially invited to join our wedding in the Casino called the notorious Wendelsteinhaus in the heart of Bavaria. But before we proceed the great march to the party site, we will start with a Christian ceremony in the church St. Martin located in Flintsbach am Inn. It takes about 5 minutes by car from one location to another, and we will support the transportation in case you won't be driving. Please find the addresses to the locations below.
					</p>
				</div>
				<div class="imagecenter">
					<img src="/anfahrt.png" height="300" style="border: 3px solid white; margin-top:2rem;"/>
				</div>
			</div>
			<ol class="list_roman">
				<li >
					<span >Church St. Martin <br> <div style="font-weight: lighter;">Kirchpl. 2, 83126 Flintsbach am Inn</div></span>
				</li>
				<li >
					<span >Rack railroad station (Wendelsteinbahn Bahnhof)<br> <div style="font-weight: lighter;">Sudelfeldstraße 106, 83098 Brannenburg</div></span>
				</li>
				<li>
					<span >
						<div class="">
							Wendelsteinhaus<br>
							<div style="font-weight: lighter;">
								There is no exact address for the place, and the address you will find in the internet (Wendelstein 1, 83735 Bayrischzell) is not quite right. However we will move together by the local rack train, so no need to worry. Just stick around and don't miss the train! There will be no other train going up that night as it is a closed event.
								<div class="even-columns">
									<div class="" style="margin-top: 2rem; ">
										<p class="ff-text-main" style="margin-top: 2rem;">It takes about 30 minutes by train to the peak. This Bavarian restaurant and it's terrace will be the place for the dinner, for some wine and champagne with a live band and a marvelous sunset. At midnight, the last train is leaving back to the valley station. Unfortunately, there will be no sleeping facilities up there, hence again, don't miss that train. Unless you have a free pass to the Wendelstein observatory.</p>
									</div>	
									<div class="imagecenter" style="margin-top:2rem;">
										<img src="/Wendelstein.jpeg" style="border: 3px solid white; background-size: contain;"/>
									</div>
								</div>
							</div>
						</div>
					</span>
				</li>
			</ol>

			
		</div>
	</section>

	<section class="hero | section | body_phone" style="background: rgb(56, 54, 54); padding-top: 5rem; padding-bottom: 5rem">
		<div class="container" data-type="narrow2">
			<div class="even-columns">
				<div class="">
					<h1 class="heading-1">
							<div class="ff-neon-pink" style="font-family: Herr von Muellerhoff">
							  Location
							</div>
					</h1>
				</br>
					<p class="ff-text-main">
					All of you are cordially invited to join our wedding in the Casino called the notorious Wendelsteinhaus in the heart of Bavaria. But before we proceed the great march to the party site, we will start with a Christian ceremony in the church St. Martin located in Flintsbach am Inn. It takes about 5 minutes by car from one location to another, and we will support the transportation in case you won't be driving. Please find the addresses to the locations below.
					</p>
				</div>
				<div class="imagecenter">
					<img src="/anfahrt.png" height="300" style="border: 3px solid white; margin-top:2rem;"/>
				</div>
			</div>
			<ol class="list_roman">
				<li >
					<span >Church St. Martin <br> <div style="font-weight: lighter;">Kirchpl. 2, 83126 Flintsbach am Inn</div></span>
				</li>
				<li >
					<span >Rack railroad station (Wendelsteinbahn Bahnhof)<br> <div style="font-weight: lighter;">Sudelfeldstraße 106, 83098 Brannenburg</div></span>
				</li>
				<li>
					<span >Wendelsteinhaus<br><div style="font-weight: lighter;">There is no exact address for the place, and the address you will find in the internet (Wendelstein 1, 83735 Bayrischzell) is not quite right. However we will move together by the local rack train, so no need to worry. Just stick around and don't miss the train! There will be no other train going up that night as it is a closed event.
					<div style="margin-top: 2rem; ">
						<p class="ff-text-main">It takes about 30 minutes by train to the peak. This Bavarian restaurant and it's terrace will be the place for the dinner, for some wine and champagne with a live band and a marvelous sunset. At midnight, the last train is leaving back to the valley station. Unfortunately, there will be no sleeping facilities up there, hence again, don't miss that train. Unless you have a free pass to the Wendelstein observatory.</p>

						
					</div>
				</div></span>
				</li>
			</ol>
			<div class="imagecenter" style="margin:1rem; margin-top:4rem;">
				<img src="/Wendelstein.jpeg" style="border: 3px solid white; background-size: contain;"/>
			</div>
		</div>
	</section>

</Layout>
