---
import Layout from '../layouts/Layout.astro';
export const prerender = true;
---

<Layout
	title="Location"
	siteheader="sh-location"
>
	<section class="hero | section | body_web" style="background: rgb(22, 21, 21); padding-top: 10rem; padding-bottom: 10rem">
		<div class="container" data-type="wide">
			
				
					<h1 class="heading-1">
							<div class="ff-neon-pink" style="font-family: Herr von Muellerhoff">
							  Locations
							</div>
					</h1>
                    
				
                <div class="even-columns" style="margin-top: 3rem;">
					<div class="imagecenter">
						<img src="/web-map.jpg" height="600" style=" margin-top:2rem;"/>
					</div>
				<div class="imagecenter">
                <ol class="list_roman" style="list-style-type:circle;">
                    <li >
                        <span >Catholic church St. Martin <br> <div style="font-weight: lighter;">Kirchpl. 2, 83126 Flintsbach am Inn</div></span>
                    </li>
                    <li >
                        <span >Mountain railway valley station (Wendelsteinbahn Talbahnhof)<br> <div style="font-weight: lighter;">Sudelfeldstraße 106, 83098 Brannenburg</div></span>
                    </li>
                    <li>
                        <span >
                            
                                Wendelsteinhaus<br>
                                <div style="font-weight: lighter;">Wendelstein 1, 83735 Bayrischzell</div>
   
                        </span>
                    </li>
                </ol>
			</div>
			</div>

			
		</div>
	</section>

	<section class="hero | section | body_phone" style="background: rgb(56, 54, 54); padding-top: 5rem; padding-bottom: 5rem">
		<div class="container" data-type="narrow2">
			<div class="even-columns">
				<div class="">
					<h1 class="heading-1">
							<div class="ff-neon-pink | margin-phone" style="font-family: Herr von Muellerhoff;">
							  Locations
							</div>
					</h1>
					<div class="imagecenter">
					<ol class="list_roman_phone | margin-phone" style="">
						<li >
							<span >Catholic church St. Martin <br> <div style="font-weight: lighter;">Kirchpl. 2, 83126 Flintsbach am Inn</div></span>
						</li>
						<li >
							<span >Mountain railway valley station (Wendelsteinbahn Bahnhof)<br> <div style="font-weight: lighter;">Sudelfeldstraße 106, 83098 Brannenburg</div></span>
						</li>
						<li >
							<span >Wendelsteinhaus<br> <div style="font-weight: lighter;">Wendelstein 1, 83735 Bayrischzell</div></span>
						</li>
					</ol>
				</div>
				</div>
				<div class="imagecenter">
					<img src="/phone-map.jpg" style="margin-top:1rem;"/>
				</div>
			</div>
		</div>
	</section>

</Layout>
