---
import Layout from '../layouts/Layout.astro';
---

<Layout
	title="Photo Zone"
	siteheader="sh-photozone"
>

<section class="hero | section | body_web" style="background: rgb(22, 21, 21); padding-top: 10rem; padding-bottom: 10rem">
	<div class="container" data-type="wide">
		<h1 class="heading-1">
			<div class="ff-neon-pink" style="font-family: Herr von Muellerhoff">
				Photo Zone
			</div>
		  </h1>
		</br>
		  <p class="ff-text-main">
			Your pictures will be posted here. 
		  </p>
		</div>
		<div class="container">
		</br>
		<div class="imagecenter">
			<img src="/Falkenstein.jpeg" height="300" style="border: 3px solid white"/>
		</div>	
	</div>
</section>

<section class="hero | section | body_phone" style="background: rgb(56, 54, 54); padding-top: 5rem; padding-bottom: 5rem">
	<div class="container" data-type="narrow2">
		<h1 class="heading-1">
			<div class="ff-neon-pink" style="font-family: Herr von Muellerhoff">
				Photo Zone
			</div>
		  </h1>
		</br>
		  <p class="ff-text-main">
			Your pictures will be posted here. 
		  </p>
		</div>
		<div class="container">
		</br>
		<div class="imagecenter" style="margin-top:2rem; margin-bottom:2rem">
			<img src="/Falkenstein.jpeg" height="300" style="border: 3px solid white"/>
		</div>	
	</div>
</section>
</Layout>
