---
import '@fontsource/twinkle-star';
import '@fontsource/dancing-script';
import '@fontsource/herr-von-muellerhoff';
import '@fontsource/monoton';
import '@fontsource/codystar';

import Layout from "../layouts/Layout.astro";
import LocationTier from "../components/LocationTier.astro";
---

<Layout title="Location">
    <div class="container">
        <h1 class="heading-1 text-center">Flexible</h1>
        <div class="even-columns">
            <div>
                <LocationTier tier="basic" price="$199" idealFor="one"/>
            </div>
            <div>
                <LocationTier tier="awesome" price="$299" idealFor="two"/>
            </div>
            <div>
                <LocationTier tier="extra awesome" price="$399" idealFor="five"/>
            </div>
        </div>    
    </div>
</Layout>
