---
import Layout from '../layouts/Layout.astro';
export const prerender = true;
---

<Layout
	title="Timeline"
	siteheader="sh-timeline"
>

	<section class="hero | section | body_web" style="background: rgb(22, 21, 21); padding-top: 10rem; padding-bottom: 10rem">
		<div class="container" data-type="wide">
			
		</br>
		<div class="row">
			<div class="uneven-column left" style="">
				<div class="">
					<div class=" imagecenter" style="margin-top: 8.3rem;">
						<div class="timeline-dot">
						</div>
					</div>
					<div class="timeline-dash" style="height:38.3rem;">
					</div>
					<div class=" imagecenter" style="">
						<div class="timeline-dot">
						</div>
					</div>
					<div class="timeline-dash" style="height:42.5rem;">
					</div>
					<div class=" imagecenter" style="">
						<div class="timeline-dot">
						</div>
					</div>
					<div class="timeline-dash" style="height:33.5rem;">
					</div>
					<div class=" imagecenter" style="">
						<div class="timeline-dot">
						</div>
					</div>
					<div class="timeline-solid" style="height:6.8rem;">
					</div>
					<div class=" imagecenter" style="margin-top:0rem;">
						<div class="timeline-dot">
						</div>
					</div>
					<div class="timeline-dash" style="height:8.7rem;">
					</div>
					<div class=" imagecenter" style="margin-top:0rem;">
						<div class="timeline-dot">
						</div>
					</div>
				</div>
			</div>
			<div class="ff-text-main | uneven-column right">
				<h1 class="heading-1">
					<div class="ff-neon-pink" style="font-family: Herr von Muellerhoff; margin-bottom: 2rem;">
						Timeline
					</div>
				  </h1>
				<h3 class="heading-3 | clr-neutral-000" style="margin-top:4rem;">
					03:00 pm: Catholic church St. Martin in Flintsbach a. Inn
				</h3>
				<p class="ff-text-main" style="padding-top: 1rem;">
					The Christian Ceremony will take place for about an hour. During this ceremony the musically talented family of Sebastian will accompany us with singing and playing organ. The organ in this church is one of the best in the region, and so is the musician. Hence a magnificent play will await.
				</p>
				<div class="" style="padding-bottom: 0rem; text-align: left;">
					<div class="timeline1" style="margin-left: 0;"></div>
				</div>	

				<h3 class="heading-3 | clr-neutral-000" style="margin-top: 5rem;">
					04:30 pm: Wendelsteinbahn in Brannenburg
				</h3>
				<p class="ff-text-main" style="padding-top: 1rem;">
					We have about 30 minutes to move from the church to the valley station of the mountain rail. It takes  5 minutes by car. We are supporting the transportation from one point to another, so ladies, wear your high heels.
				</br></br>
					The train takes us to the top of the mountain, so better don't miss it. It takes about 30 minutes to the peak. There will be no other train going up that night as it is a closed event.
				</p>

				<div class="" style="padding-bottom: 0rem; text-align: left;">
					<div class="timeline2" style="margin-left: 0;"></div>
				</div>

				<h3 class="heading-3 | clr-neutral-000" style="margin-top: 5rem;">
					05:30 pm: Wendelsteinhaus
				</h3>
				<p class="ff-text-main" style="padding-top: 1rem;">
					When we arrive on the top of the Wendelstein, a reception with refreshment drinks will await. The Bavarian restaurant "Wendelsteinhaus" and it's terrace will be the place for the dinner and drinks with a live band and a marvelous sunset. The dinner will be served around 7 pm. Enjoy your time and feel free to walk around and check out the view. Please be cautious around the fences as the slopes are quite steep. 
				</p>

				<div class="" style="text-align: left;">
					<div class="timeline3" style="margin-left: 0;"></div>
				</div>
				<h3 class="heading-3 | clr-neutral-000" style=" margin-top: 5rem; margin-bottom: 0rem;">
						
					09:30 pm: First train departing back to the valley
				</h3>
				<p class="ff-text-main" style="padding-top: 1rem;">
					For those who can't stay with us the whole evening, there will be an earlier option to head downwards. 
				</p>

				<h3 class="heading-3 | clr-neutral-000" style=" margin-top: 4rem; margin-bottom: 0rem;">
					00:00 am: Second train departing back to the valley
				</h3><p class="ff-text-main" style="padding-top: 1rem;">
					Once the party is over the remaining crowd will need to take the last train back to the valley. There are no sleeping facilities up in the mountain, so you better don't miss the train!
				</p>
				<h3 class="heading-3 | clr-neutral-000" style=" margin-top: 4rem; margin-bottom: 0rem;">
					10:00 pm / 00:30 am: Transportation to the dreamland
				</h3>
				<p class="ff-text-main" style="padding-top: 1rem;">
					Once you are back in the valley station, there will be again a transportation support to your home or hotel. So just take the taxi to your base (don't pay, as they are prepaid) and have a restful night!
				</p>
				</div>
			</div>
		</div>
		</div>
	</section>

	<section class="hero | section | body_phone" style="background: rgb(56, 54, 54); padding-top: 5rem; padding-bottom: 5rem;">
		
		<div class="container" data-type="" >
			
			<div class="row">
				<div class="uneven-column left_1" style="">
					<div class="">
						<div class=" imagecenter" style="margin-top: 125px;">
							<div class="timeline-dot" style="width:16px; height:16px;"></div>
						</div>
						
							<div class="timeline-dash-phone1" ></div>
				
					</div>
				</div>
				
				<div class="ff-text-main | uneven-column right_1" >
					<h1 class="heading-1">
						<div class="ff-neon-pink" style="font-family: Herr von Muellerhoff; margin-top: 16px; margin-bottom: 32px;">
							Timeline
						</div>
					</h1>
					
					<h3 class="heading-3 | clr-neutral-000" style="font-size:1.2rem; margin-top: 45px; margin-bottom: 3.2px;">
						03:00 pm: Catholic church St. Martin in Flintsbach a. Inn
					</h3>
					<p class="" style="padding-top: 16px; ">
						The Christian Ceremony will take place for about an hour. During this ceremony the musically talented family of Sebastian will accompany us with singing and playing organ. The organ in this church is one of the best in the region, and so is the musician. Hence a magnificent play will await.
					</p>
					<div class="" style="padding-bottom: 0; text-align: left;">
						<div class="timeline1"  style="margin-left: 0; "></div>
					</div>	
				</div>
			</div>

			<div class="row">
				<div class="uneven-column left_1" style="font-size: 1.1rem; ">
					<div class="">
						<div class=" imagecenter" style="margin-top: 0px;">
							<div class="timeline-dot" style="width:16px; height:16px;"></div>
						</div>
						
							<div class="timeline-dash-phone2" ></div>
						
					</div>
				</div>
				<div class="ff-text-main | uneven-column right_1">
					
					<h3 class="heading-3 | clr-neutral-000" style="font-size: 1.2rem; margin-top: 0px; margin-bottom: 0px;">
						04:30 pm: Wendelsteinbahn in Brannenburg
					</h3>
					<p class="" style="padding-top: 1rem; ">
						We have about 30 minutes to move from the church to the valley station of the mountain rail. It takes  5 minutes by car. We are supporting the transportation from one point to another, so ladies, wear your high heels.
				</br></br>
					The train takes us to the top of the mountain, so better don't miss it. It takes about 30 minutes to the peak. There will be no other train going up that night as it is a closed event.
					</p>
	
					<div class="" style="padding-bottom: 0rem; text-align: left; ">
						<div class="timeline2" style="margin-left: 0;"></div>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="uneven-column left_1" style="">
					<div class="">
						<div class=" imagecenter" style="margin-top: 0px;">
							<div class="timeline-dot" style="width:16px; height:16px;"></div>
						</div>
						
							<div class="timeline-dash-phone3" ></div>
						
					</div>
				</div>
				<div class="ff-text-main | uneven-column right_1">
					
					<h3 class="heading-3 | clr-neutral-000" style="font-size:1.2rem; margin-top: 0rem; margin-bottom: 0.2rem;">
						05:30 pm: Wendelsteinhaus
					</h3>
				
					<p class="ff-text-main" style="padding-top: 1rem;">
						When we arrive on the top of the Wendelstein, a reception with refreshment drinks will await. The Bavarian restaurant "Wendelsteinhaus" and it's terrace will be the place for the dinner and drinks with a live band and a marvelous sunset. The dinner will be served around 7 pm. Enjoy your time and feel free to walk around and check out the view. Please be cautious around the fences as the slopes are quite steep. 
					</p>
	
					<div class="" style="text-align: left;">
						<div class="timeline3" style="margin-left: 0; "></div>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="uneven-column left_1" style="">
					<div class="">
						<div class=" imagecenter" style="margin-top: 0px;">
							<div class="timeline-dot" style="width:16px; height:16px;"></div>
						</div>			
						
							<div class="timeline-solid-phone5" ></div>
								
					</div>
				</div>
				<div class="ff-text-main | uneven-column right_1">
					
					<h3 class="heading-3 | clr-neutral-000" style="font-size:1.2rem; margin-top: 0px; margin-bottom: 0.2rem;">
						09:30 pm: First train departing back to the valley
					</h3>
				
					<p class="ff-text-main" style="padding-top: 1rem;">
						For those who can't stay with us the whole evening, there will be an earlier option to head downwards. 
					</p>
				</div>
			<div class="row">
				<div class="uneven-column left_1" style="">
					<div class="">
						<div class=" imagecenter" style="margin-top: 0rem;">
							<div class="timeline-dot" style="width:16px; height:16px;"></div>
						</div>
						
							<div class="timeline-dash-phone4" ></div>
						
					</div>
				</div>
				<div class="ff-text-main | uneven-column right_1">
					<h3 class="heading-3 | clr-neutral-000" style="font-size:1.2rem; margin-top: 0rem; margin-bottom: 0.2rem;">
						00:00 am: Second train departing back to the valley
					</h3>
				
					<p class="ff-text-main" style="padding-top: 1rem;">
						Once the party is over the remaining crowd will need to take the last train back to the valley. There are no sleeping facilities up in the mountain, so you better don't miss the train!
					</p>
				</div>
			<div class="row">
				<div class="uneven-column left_1" style="">
					<div class="">
						<div class=" imagecenter" style="margin-top: 0px;">
							<div class="timeline-dot" style="width:16px; height:16px;"></div>
						</div>
					</div>
				</div>
				<div class="ff-text-main | uneven-column right_1">
					
					<h3 class="heading-3 | clr-neutral-000" style="font-size:1.2rem; margin-top: 0px; margin-bottom: 0.2rem;">
						10:00 pm / 00:30 am: Transportation to the dreamland
					</h3>
				
					<p class="ff-text-main" style="padding-top: 1rem;">
						Once you are back in the valley station, there will be again a transportation support to your home or hotel. So just take the taxi to your base (don't pay, as they are prepaid) and have a restful night!
					</p>
				</div>
			</div>
		</div>	
	</section>

</Layout>
