---
import Layout from '../layouts/Layout.astro';
export const prerender = true;
---

<Layout
	title="Timeline"
	siteheader="sh-timeline"
>

	<section class="hero | section | body_web" style="background: rgb(22, 21, 21); padding-top: 10rem; padding-bottom: 10rem">
		<div class="container" data-type="wide">
			
		</br>
		<div class="row">
			<div class="uneven-column left" style="">
				<div class="">
					<div class=" imagecenter" style="margin-top: 6.5rem;">
						<div class="timeline-dot">
						</div>
					</div>
					<div class="timeline-dash" style="height:37.2rem;">
					</div>
					<div class=" imagecenter" style="">
						<div class="timeline-dot">
						</div>
					</div>
					<div class="timeline-dash" style="height:39rem;">
					</div>
					<div class=" imagecenter" style="">
						<div class="timeline-dot">
						</div>
					</div>
					<div class="timeline-dash" style="height:33rem;">
					</div>
					<div class=" imagecenter" style="">
						<div class="timeline-dot">
						</div>
					</div>
				</br></br></br>
					<div class=" imagecenter" style="">
						<div class="timeline-dot">
						</div>
					</div>
				</div>
			</div>
			<div class="ff-text-main | uneven-column right">
				<h1 class="heading-1">
					<div class="ff-neon-pink" style="font-family: Herr von Muellerhoff; margin-bottom: 2rem;">
						Timeline
					</div>
				  </h1>
				<h3 class="heading-3 | clr-neutral-000">
					3:00 pm: Church St. Martin in Flintsbach a. Inn
				</h3>
				<p class="ff-text-main" style="padding-top: 1rem;">
					FLints Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
					labore et dolore magna aliqua. Vitae ultricies leo integer malesuada nunc vel risus commodo
					viverra. Adipiscing enim eu turpis egestas pretium. Euismod elementum nisi quis eleifend quam
				</p>
				<div class="" style="padding-bottom: 4rem; text-align: left;">
					<div class="timeline1" style="margin-left: 0;"></div>
				</div>	

				<h3 class="heading-3 | clr-neutral-000">
					5:00 pm: Wendelsteinbahn in Brannenburg
				</h3>
				<p class="ff-text-main" style="padding-top: 1rem;">
					FLints Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
					labore et dolore magna aliqua. Vitae ultricies leo integer malesuada nunc vel risus commodo
					viverra. Adipiscing enim eu turpis egestas pretium. Euismod elementum nisi quis eleifend quam
				</p>

				<div class="" padding-bottom: 4rem; style="padding-bottom: 4rem; text-align: left;">
					<div class="timeline2" style="margin-left: 0;"></div>
				</div>

				<h3 class="heading-3 | clr-neutral-000">
					5:30 pm: Wendelsteinhaus
				</h3>
				<p class="ff-text-main" style="padding-top: 1rem;">
					FLints Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
					labore et dolore magna aliqua. Vitae ultricies leo integer malesuada nunc vel risus commodo
					viverra. Adipiscing enim eu turpis egestas pretium. Euismod elementum nisi quis eleifend quam
				</p>

				<div class="" style="text-align: left;">
					<div class="timeline3" style="margin-left: 0;"></div>
				</div>
				<h3 class="heading-3 | clr-neutral-000" id="5_30pm" style="font-size:1.3rem; margin-top: 7.5rem; margin-bottom: 0.2rem;">
						
					10:00 pm: First train departing back to the valley
				</br></br></br></br>
					00:00 pm: Second train departing back to the valley
				</h3>
			
				<p class="ff-text-main" style="padding-top: 1rem;">
					FLints Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
					labore et dolore magna aliqua. Vitae ultricies leo integer malesuada nunc vel risus commodo
					viverra. Adipiscing enim eu turpis egestas pretium. Euismod elementum nisi quis eleifend quam
				</p>
				</div>
			</div>
		</div>
		</div>
	</section>

	<section class="hero | section | body_phone" style="background: rgb(56, 54, 54); padding-top: 5rem; padding-bottom: 5rem">
		<div class="container" data-type="">


			<div class="row">
				<div class="uneven-column left_1" style="">
					<div class="">
						<div class=" imagecenter" style="margin-top: 125px;">
							<div class="timeline-dot" style="width:16px; height:16px;"></div>
						</div>
						<div id="">
							<div class="timeline-dash-phone1" id="dash1" ></div>
						</div>
					</div>
				</div>
				<div id="text_phone_1" class="ff-text-main | uneven-column right_1">
					<h1 class="heading-1">
						<div class="ff-neon-pink" style="font-family: Herr von Muellerhoff; margin-top: 16px; margin-bottom: 32px;">
							Timeline
						</div>
					</h1>
					<h3 class="heading-3 | clr-neutral-000" id="3pm" style="font-size:20.9px; margin-top: 45px; margin-bottom: 3.2px;">
						3:00 pm: Church St. Martin in Flintsbach a. Inn
					</h3>
					<p class="ff-text-main" style="padding-top: 16px;">
						FLints Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
						labore et dolore magna aliqua. Vitae ultricies leo integer malesuada nunc vel risus commodo
						viverra. Adipiscing enim eu turpis egestas pretium. Euismod elementum nisi quis eleifend quam
					</p>
					<div class="" style="padding-bottom: 64px; text-align: left;" id="bild1">
						<div class="timeline1"  style="margin-left: 0; "></div>
					</div>	
				</div>
			</div>

			<div class="row">
				<div class="uneven-column left_1" style="">
					<div class="">
						<div class=" imagecenter" style="margin-top: 0px;">
							<div class="timeline-dot" style="width:16px; height:16px;"></div>
						</div>
						<div id="">
							<div class="timeline-dash-phone2" id="dash2"></div>
						</div>
					</div>
				</div>
				<div id="text_phone_1" class="ff-text-main | uneven-column right_1">
					
					<h3 class="heading-3 | clr-neutral-000" id="5pm" style="font-size:20.9px; margin-top: 0px; margin-bottom: 3.2px;">
						5:00 pm: Rail station in Brannenburg
					</h3>
					<p class="ff-text-main" style="padding-top: 1rem; ">
						FLints Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
						labore et dolore magna aliqua. Vitae ultricies leo integer malesuada nunc vel risus commodo
						viverra. Adipiscing enim eu turpis egestas pretium. Euismod elementum nisi quis eleifend quam
					</p>
	
					<div class="" style="padding-bottom: 4rem; text-align: left; ">
						<div class="timeline2" style="margin-left: 0;"></div>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="uneven-column left_1" style="">
					<div class="">
						<div class=" imagecenter" style="margin-top: 0px;">
							<div class="timeline-dot" style="width:16px; height:16px;"></div>
						</div>
						<div id="">
							<div class="timeline-dash-phone3" id="dash2"></div>
						</div>
					</div>
				</div>
				<div id="text_phone_1" class="ff-text-main | uneven-column right_1">
					
					<h3 class="heading-3 | clr-neutral-000" id="5_30pm" style="font-size:1.3rem; margin-top: 0rem; margin-bottom: 0.2rem;">
						5:30 pm: Wendelsteinhaus
					</h3>
				
					<p class="ff-text-main" style="padding-top: 1rem;">
						FLints Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
						labore et dolore magna aliqua. Vitae ultricies leo integer malesuada nunc vel risus commodo
						viverra. Adipiscing enim eu turpis egestas pretium. Euismod elementum nisi quis eleifend quam
					</p>
	
					<div class="" style="text-align: left;">
						<div class="timeline3" style="margin-left: 0; "></div>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="uneven-column left_1" style="">
					<div class="">
						<div class=" imagecenter" style="margin-top: 0px;">
							<div class="timeline-dot" style="width:16px; height:16px;"></div>
						</div>
					</br></br>
						<div class=" imagecenter" style="margin-top: 0px;">
							<div class="timeline-dot" style="width:16px; height:16px;"></div>
						</div>
						
					</div>
				</div>
				<div id="text_phone_1" class="ff-text-main | uneven-column right_1">
					
					<h3 class="heading-3 | clr-neutral-000" id="5_30pm" style="font-size:1.3rem; margin-top: 0px; margin-bottom: 0.2rem;">
						
						10:00 pm: First train departing back to the valley
					</br></br>
						00:00 pm: Second train departing back to the valley
					</h3>
				
					<p class="ff-text-main" style="padding-top: 1rem;">
						FLints Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
						labore et dolore magna aliqua. Vitae ultricies leo integer malesuada nunc vel risus commodo
						viverra. Adipiscing enim eu turpis egestas pretium. Euismod elementum nisi quis eleifend quam
					</p>
				</div>
			</div>
		</div>	
	</section>

</Layout>
