---
import Layout from '../layouts/Layout.astro';
---

<Layout
	title="Timeline"
	siteheader="sh-timeline"
>

	<section class="hero | section | body_web" style="background: rgb(22, 21, 21); padding-top: 10rem; padding-bottom: 10rem">
		<div class="container" data-type="wide">
			<h1 class="heading-1">
				<div class="ff-neon-pink" style="font-family: Herr von Muellerhoff">
					Timeline
				</div>
	  		</h1>
		</br>
			<p class="ff-text-main">
				Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
				labore et dolore magna aliqua. Vitae ultricies leo integer malesuada nunc vel risus commodo
				viverra. Adipiscing enim eu turpis egestas pretium. Euismod elementum nisi quis eleifend quam
				adipiscing. In hac habitasse platea dictumst vestibulum. Sagittis purus sit amet volutpat. Netus
				et malesuada fames ac turpis egestas. Eget magna fermentum iaculis eu non diam phasellus
				vestibulum lorem. Varius sit amet mattis vulputate enim. Habitasse platea dictumst quisque
				sagittis. Integer quis auctor elit sed vulputate mi. Dictumst quisque sagittis purus sit amet.
			</p>
		</div>
	

	
	<div class="imagecenter">
		<div class="timeline1" style="border: 3px solid white"></div>
	</div>	
	<div class="imagecenter">
		<div class="timeline2" style="border: 3px solid white"></div>
	</div>
	</section>

	<section class="hero | section | body_phone" style="background: rgb(56, 54, 54); padding-top: 5rem; padding-bottom: 5rem">
		<div class="container" data-type="narrow2">
			<h1 class="heading-1">
				<div class="ff-neon-pink" style="font-family: Herr von Muellerhoff">
					Timeline
				</div>
	  		</h1>
		</br>
			<p class="ff-text-main">
				Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
				labore et dolore magna aliqua. Vitae ultricies leo integer malesuada nunc vel risus commodo
				viverra. Adipiscing enim eu turpis egestas pretium. Euismod elementum nisi quis eleifend quam
				adipiscing. In hac habitasse platea dictumst vestibulum. Sagittis purus sit amet volutpat. Netus
				et malesuada fames ac turpis egestas. Eget magna fermentum iaculis eu non diam phasellus
				vestibulum lorem. Varius sit amet mattis vulputate enim. Habitasse platea dictumst quisque
				sagittis. Integer quis auctor elit sed vulputate mi. Dictumst quisque sagittis purus sit amet.
			</p>
		</div>
	

	
	<div class="imagecenter">
		<div class="timeline1" style="border: 3px solid white"></div>
	</div>	
	<div class="imagecenter">
		<div class="timeline2" style="border: 3px solid white"></div>
	</div>
	</section>


</Layout>
