@use "../abstracts" as *;

.button {
  display: inline-flex;
  justify-content: center;
  cursor: pointer;
  text-decoration: none;
  line-height: 1;
  font-family: $button-font-family;
  font-size: $button-font-size;
  text-transform: $button-text-transform;
  font-weight: $button-font-weight;
  padding: $button-padding;
  border: $button-border;
  border-radius: $button-border-radius;
  transition: 275ms ease;

  &[data-type="accent"] {
    background-color: $button-accent-background;
    color: $button-accent-color;

    &:is(:hover, :focus) {
      background-color: $button-accent-background-hover;
      color: $button-accent-color-hover;
    }
  }

  &[data-type="neutral"] {
    background-color: var(--neutral-200, #f6f8f9);
    color: $button-accent-color;

    &:is(:hover, :focus) {
      background-color: $button-accent-background-hover;
      color: $button-accent-color-hover;
    }
  }

  &[data-type="primary"] {
    background-color: $button-primary-background;
    color: $button-primary-color;

    &:is(:hover, :focus) {
      background-color: $button-primary-background-hover;
      color: $button-primary-color-hover;
    }
  }
}

.accentbuttonbox {
  background-color: var(--gray-verylight);
  color: $button-accent-color;
  font-size: $button-font-size;
  text-transform: $button-text-transform;
  font-weight: $button-font-weight;
  padding: 0.4em 2.4em;
  border: $button-border;
  border-radius: 0.25rem;

  &:is(:hover, :focus) {
    background-color: var(--gray-medium);
    color: $button-accent-color-hover;
  }
}

.accentbuttonboxnohover {
  background-color: var(--gray-medium);
  color: $button-accent-color-hover;
  font-size: $button-font-size;
  text-transform: $button-text-transform;
  font-weight: $button-font-weight;
  padding: 0.4em 2.4em;
  border: $button-border;
  border-radius: 0.25rem;
}

.neutralbuttonbox {
    display: flex;
    align-items: center;
    gap: 0.75rem;
    padding: 1rem;
    color: var(--neutral-900, #202427);
    background-color: var(--neutral-200, #f6f8f9);
    border: transparent;
    border-radius: 0.25rem;

  &:is(:hover, :focus) {
    background-color: $button-accent-background-hover;
    color: $button-accent-color-hover;
  }
}

.neonYellowStatic-hover {
  list-style: none;

  a { display: inline-block;
      background-color: rgb(255, 255, 255);
      
      border: 1px solid rgb(255, 255, 255);
      height: 40px;
      width: 150px;
      line-height: 38px;
      text-align: center;
      
      color: $clr-neutral-900;
      box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.191);
      
      transition: transform .3s ease-out;
      display: inline-block;
      text-decoration: none;
      transition: transform .3s ease-out;

      &:is(:hover, :focus) {
        background-color: rgb(255, 255, 255);
        color: $clr-neutral-900; 
        font-weight: bolder;
        
        line-height: 38px;
         box-shadow: 0px 0px 10px rgb(255, 213, 0), 1px 1px 5px rgb(255, 213, 0), 1px 1px 10px rgba(0, 0, 0, 0.191), 1px 1px 10px rgb(255, 196, 0);
      }
    }
}

.neonPink {
  list-style: none;

  a { display: inline-block;
      background-color: rgb(255, 255, 255);
      
      
      height: 40px;
      width: 120px;
      line-height: 30px;
      text-align: center;
      padding-top: 0.24rem;
      
      color: $clr-neutral-900;
      box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.432), 1px 1px 10px rgba(0, 0, 0, 0.468);
      
      transition: transform .3s ease-out;
      display: inline-block;
      text-decoration: none;
      transition: transform .3s ease-out;

      &:is(:hover, :focus) {
        box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.432), 1px 1px 15px rgba(0, 0, 0, 0.468);
        background-color: rgb(255, 255, 255);
        color: $clr-neutral-900; 
        font-weight: bolder;
        animation: NeonPink 0.3s ;
        animation-iteration-count: infinite;
      }
    }
}

.neonPinkstatic {
  list-style: none;

  a { display: flex;
      background-color: rgb(255, 255, 255);
      height: 40px;
      width: 150px;
      line-height: 30px;
      text-align: center;
      padding-top: 0.24rem;
      
      box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.432), 1px 1px 10px rgba(0, 0, 0, 0.468);
      
      transition: transform .3s ease-out;
      display: inline-block;
      text-decoration: none;

      color: $clr-neutral-900; 
      animation: NeonPink 2s ;
      animation-iteration-count: infinite;
      
    }
}

.neonYellowstatic {
  list-style: none;

  a { display: flex;
      background-color: rgb(255, 255, 255);
      height: 40px;
      width: 150px;
      line-height: 30px;
      text-align: center;
      padding-top: 0.24rem;
      
      box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.432), 1px 1px 10px rgba(0, 0, 0, 0.468);
      
      transition: transform .3s ease-out;
      display: inline-block;
      text-decoration: none;

      color: $clr-neutral-900; 
      animation: NeonYellow 4s ;
      animation-iteration-count: infinite;
      
    }
}

@keyframes NeonPink {
  0% {  
    height: 40px;
    width: 120px;
      line-height: 30px;
    }
  100% { 
    height: 40px;
    width: 120px;
    line-height: 30px;
      box-shadow: -2px -2px 20px rgb(255, 106, 205), 2px 2px 20px rgb(255, 2, 171), -2px -2px 5px rgb(255, 2, 171), 2px 2px 5px rgb(255, 2, 171), 1px 1px 5px rgb(255, 2, 171);
       }
}

@keyframes NeonYellow {
  0% {  
    height: 40px;
    width: 120px;
      line-height: 30px;
    }
  100% { 
    height: 40px;
    width: 120px;
    line-height: 30px;
      box-shadow: -2px -2px 20px rgb(255, 233, 106), 2px 2px 20px rgb(255, 242, 2), -2px -2px 5px rgb(255, 242, 2), 2px 2px 5px rgb(255, 242, 2), 1px 1px 5px rgb(255, 242, 2);
       }
}