@use '../abstracts/' as *;

.heading-1 {
  @include heading(
    $heading-1-font-size,
    $heading-1-color
  );
}
.heading-2 {
  @include heading(
    $heading-2-font-size,
    $heading-2-color
  );
}
.heading-3 {
  @include heading(
    $heading-3-font-size,
    $heading-3-color
  );
  @media (max-device-width: 300px) {
    font-size: var(--fs-500);
  }
}
.headingstar {
  font-size:1.7rem;
  @media (max-device-width: 300px) {
    font-size: var(--fs-500);
  }
}
.headingbavaria {
  font-size: 0.8rem;
  @media (max-device-width: 300px) {
    font-size: 0.5rem;
  }
}