@use "../abstracts/" as *;


.timeline-dot {
    width: 2.3rem;
    height: 2.3rem;
    border-radius: 50%;
    background: none;
    border: 0.3rem solid white;
    
}
.timeline-dash {
    width: calc(100%/2);
    height: 15rem;
    border-right: 0.3rem dashed white;
    margin-top: 0.1rem;
    margin-left: 0.15rem;
    
    background: none;
    align-items: left;
    
}
.timeline-solid {
    width: calc(100%/2);
    height: 15rem;
    border-right: 0.3rem solid white;
    margin-top: 0.1rem;
    margin-left: 0.15rem;
    
    background: none;
    align-items: left;
}

.timeline-dash-phone1 {
    width: calc(100%/2);
    height: 38rem;
    border-right: 3px dashed white;
    
    margin-left: 1.5px;
    
    background: none;
    align-items: left;

    @media (min-width: 500px) and (max-width: 760px) {
        height: 50rem;
    }

    @media (min-width: 760px) {
        height: 40rem;
    }
    @media (max-device-width: 300px) {
        height:41rem;
      }
}

.timeline-dash-phone2 {
    width: calc(100%/2);
    height: 47rem;
    border-right: 3px dashed white;
    
    margin-left: 1.5px;
    
    background: none;
    align-items: left;

    @media (min-width: 500px) and (max-width: 760px) {
        height: 55rem;
    }
    @media (min-width: 760px) {
        height: 45rem;
    }
    @media (max-device-width: 300px) {
        height:58rem;
      }
}

.timeline-dash-phone3 {
    width: calc(100%/2);
    height: 42rem;
    border-right: 3px dashed white;
    
    margin-left: 1.5px;
    
    background: none;
    align-items: left;

    @media (min-width: 500px) and (max-width: 760px) {
        height: 46rem;
    }
    @media (min-width: 760px) {
        height: 36rem;
    }
    @media (max-device-width: 300px) {
        height:50rem;
      }
}

.timeline-dash-phone4 {
    width: calc(100%/2);
    height: 17.6rem;
    border-right: 3px dashed white;
    
    margin-left: 1.5px;
    
    background: none;
    align-items: left;

    @media (min-width: 500px) and (max-width: 760px) {
        height: 18.5rem;
    }
    @media (min-width: 760px) {
        height: 11rem;
    }
    @media (max-device-width: 300px) {
        height:25rem;
      }
}

.timeline-solid-phone5 {
    width: calc(100%/2);
    height: 13.5rem;
    border-right: 3px solid white;
    
    margin-left: 1.5px;
    
    background: none;
    align-items: left;

    @media (min-width: 500px) and (max-width: 760px) {
        height: 12rem;
    }
    @media (min-width: 760px) {
        height: 9rem;
    }
    @media (max-device-width: 300px) {
        height:18rem;
      }
}