@use "../abstracts/" as *;


.timeline-dot {
    width: 2.3rem;
    height: 2.3rem;
    border-radius: 50%;
    background: none;
    border: 0.3rem solid white;
    
}
.timeline-dash {
    width: calc(100%/2);
    height: 15rem;
    border-right: 0.3rem dashed white;
    margin-top: 0.1rem;
    margin-left: 0.15rem;
    
    background: none;
    align-items: left;
}

.timeline-dash-phone1 {
    width: calc(100%/2);
    height: 40rem;
    border-right: 3px dashed white;
    
    margin-left: 1.5px;
    
    background: none;
    align-items: left;

    @media (min-width: 400px) {
        height: 48rem;
    }
}

.timeline-dash-phone2 {
    width: calc(100%/2);
    height: 40rem;
    border-right: 3px dashed white;
    
    margin-left: 1.5px;
    
    background: none;
    align-items: left;

    @media (min-width: 400px) {
        height: 48rem;
    }
}

.timeline-dash-phone3 {
    width: calc(100%/2);
    height: 35rem;
    border-right: 3px dashed white;
    
    margin-left: 1.5px;
    
    background: none;
    align-items: left;

    @media (min-width: 400px) {
        height: 42rem;
    }
}