---
const{tier, price, idealFor} = Astro.props;
---

<div class="clr-primary-100">
    <div class="text-center">
        <h2 class="">{tier}</h2>
        <p class="fs-700 fw-bold">{price}/month
            <span class="fs-400 fw-regular">Ideal for {idealFor}</span>
        </p>
    </div>
    <slot/>
    <button class="button" data-type="primary">Get started</button>
</div>

<style>
    section{
        display: grid;
    }
</style>