@use "../abstracts" as *;

.timeline1 {
    color: $site-header-color;
    content: url('/Flintsbach.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    margin: 1.5rem;
    margin-bottom: 0rem;
    width: 600px;
    height: auto;

    @media (max-width:400px) {
      width: 17rem;
    }
    @media (min-width:400px) and (max-width:800px) {
      width: 500px;
    }
    @media (max-device-width: 300px) {
      width: 200px;
      margin-bottom: 1rem;
    }
  }

.timeline2 {
    color: $site-header-color;
    content: url('/Wendelsteinbahn.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    margin: 1.5rem;
    width: 600px;
    
    @media (max-width:400px) {
      width: 17rem;
    }
    @media (min-width:400px) and (max-width:800px) {
      width: 500px;
    }
    @media (max-device-width: 300px) {
      width: 200px;
      margin-bottom: 1rem;
    }
  }

.timeline3 {
  color: $site-header-color;
  content: url('/Wendelstein.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
  margin: 1.5rem;
  width: 600px;
  
  @media (max-width:400px) {
    width: 17rem;
  }
  @media (min-width:400px) and (max-width:800px) {
    width: 500px;
  }
  @media (max-device-width: 300px) {
    width: 200px;
    margin-bottom: 1rem;
  }
  }

  @keyframes lightZoom {
    0% { opacity: 1; 
      transform: scale(100%);
      }
    10% { opacity: 0.9; 
      transform: scale(99%);
      }
    40% { opacity: 0.9; 
      transform: scale(105%);}
    100% { opacity: 1; 
      transform: scale(100%);}
  }

.homephoto {
  
  content: url('/4U4A7336.png');
  object-fit:contain;
  height: 350px;
  }
.homephoto-transition {
  
  content: url('/4U4A7336.png');
  object-fit:contain;
  transition: transform .3s ease-out;
  height: 350px;
  
  animation:lightZoom 2s;
  }

.lasvegashome {
    color: $site-header-color;
    width: 470px;
    background-image: url('/lasvegas.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 75%;
    
    padding-bottom: 3.5rem;
    margin-left: 1rem;
    margin-bottom: 2rem;

    @media (min-device-width: 300px) and (max-device-width: 1100px) {
      width: 360px;
      background-position: 50% 65%;
      background-size:contain;
      
      padding-bottom: 3.6rem;
      margin-bottom: 0.5rem;
      margin-left: 0rem; 
    }
    @media (max-device-width: 300px) {
      width: 260px;
      background-position: 50% 65%;
      background-size:contain;
      
      padding-bottom: 3rem;
      margin-bottom: 0.5rem;
      margin-left: 0rem; 
    }
  }


