@use "../abstracts/" as *;

.even-columns {
  display: grid;
  gap: var(--grid-gap, $grid-gap);

  @include mq(medium) {
    grid-auto-flow: column;
    grid-auto-columns: 1fr;
  }
}

.row {
  content: "";
  display: table;
  clear: both;
}

.uneven-column {
  float: left;
  
  
}

.left {
  width: 25%;
  padding: 1.3rem;
}

.right {
  width: 75%;
  padding: 1.3rem;
}

.left_1 {
  width: 10%;
}

.right_1 {
  width: 90%;
  padding: 1rem;
  padding-bottom: 0rem;
  padding-top: 0rem;
}
