@use "../abstracts/" as *;

.list_roman {
    margin: 35px; 
    margin-left: 50px; 
    list-style-type: upper-roman;
    color: $clr-neutral-000;
    font-size: 1rem; 
    line-height: 2.2rem; 
    

    li {
        margin-top: 1rem; 
    }
    
    li span {
        left: 10px;
        
      }
}
.list_roman_phone {
    margin: 35px; 
    margin-left: 15px; 
    list-style-type:circle;
    color: $clr-neutral-000;
    font-size: 1rem; 
    line-height: 2.2rem; 
    

    li {
        margin-top: 1rem; 
    }
    
    li span {
        left: 10px;
        
      }
}
