---
import '../styles/global.css';
import "../main.scss";

const {title} = Astro.props;
let subtitle = 'Accessible Astro Dashboard';
import '@fontsource/twinkle-star';
import '@fontsource/dancing-script';
import '@fontsource/herr-von-muellerhoff';
import '@fontsource/monoton';
import '@fontsource/codystar';
import '@fontsource/caveat';
import '@fontsource/yanone-kaffeesatz';
import '@fontsource/pinyon-script';
import '@fontsource/cinzel-decorative';
import '@fontsource/cinzel';
---

<html lang="en" dir="ltr">
  <head>
    <script type="text/javascript">
    // var number = 123;
    // var name = document.getElementById("name").value;
    // var join = document.getElementById("join").value;
    // var travel = document.getElementById("travel").value;
    
    // var name = localstorage.setItem("name", name);
    // var join = localstorage.setItem("join", join);
    // var travel = localstorage.setItem("travel", travel);
    
    // var name = localstorage.getItem("name", name);
    // var join = localstorage.getItem("join", join);
    // var travel = localstorage.getItem("travel", travel);

    // document.getElementById("test").innerHTML = 5+5;
    
    </script>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- favicon -->
    <link rel="icon" type="image/svg+xml" href="/formslogo.png">

    <!-- open graph -->
    <meta property="og:title" content="Accessible Astro Dashboard">
    <meta property="og:description" content="An Accessible Dashboard Theme for Astro including a login page, a dashboard page and several other pages and components.">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://dashboard.accessible-astro.dev">
    <meta property="og:image" content="/social-preview-image.png">

    <!-- page title -->
    <title>{title} - {subtitle}</title>
  </head>
  <body>
    
    <main id="main-content">
      <slot />
    </main>

<script src="/testFormdata.js" is:inline></script>
  </body>
</html>

<style is:global>
  html body {
    background-color: var(--neutral-800);
  }
</style>
