---
import "../main.scss";
const { title } = Astro.props;
export const prerender = true;

import '@fontsource/twinkle-star';
import '@fontsource/dancing-script';
import '@fontsource/herr-von-muellerhoff';
import '@fontsource/monoton';
import '@fontsource/codystar';
import '@fontsource/caveat';
import '@fontsource/yanone-kaffeesatz';
import '@fontsource/pinyon-script';
import '@fontsource/cinzel-decorative';
import '@fontsource/cinzel';
import '@fontsource/bodoni-moda';
import '@fontsource/monofett';
import '@fontsource/great-vibes';
---

<!DOCTYPE html>
<html lang="en">
  
<head>
  
  <meta charset="UTF-8" />
  <link rel="icon" type="images/png+xml" href="herz pink.png" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible"
  content="ie=edge" />
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
  <title>{title}</title>
  <link rel="stylesheet" href="/src/main.scss">
</head>

<body>
  
<div class="body_web">
  <div class="sh-home" ></div>
    <header class="site-header" style="" >
      <div class="container" style="">
        <div class="imagecenter | site-header__inner">
        <nav class="">
          <ul class="ff-flash | flex-group" style="">
    
            <li class="">
              <a href="/" style="font-family: Codystar" class="heading-3">Home</a>
            </li>
    
            <li class="">
              <a href="/guestsurvey" style="font-family: Codystar" class="heading-3">Guest Survey</a>
            </li>
    
            <li class="">
              <a href="/timeline" style="font-family: Codystar" class="heading-3">Timeline</a>
            </li>

            <li class="">
              <a href="/locations" style="font-family: Codystar" class="heading-3">Locations</a>
            </li>
    
            <li class="">
              <a href="/photozone" style="font-family: Codystar" class="heading-3">Photo Zone</a>
            </li>
          </ul>
        </nav>
      </div> 
          
        </div>
      </div>
    </header>
  </div>  

<section class="hero | section | body_web">
  <div class="container" data-type="narrow2" style="">
    
      <div class="imagecenter" style="margin-top: 1rem">
        <div class="lasvegashome">
          <h2 class="heading-2"></br></br></h2>
          <div class=" imagecenter" style="">
            <span class="ff-red-circle">W</span>
            <span class="ff-red-circle">E</span>
            <span class="ff-red-circle">L</span>
            <span class="ff-red-circle">C</span>
            <span class="ff-red-circle">O</span>
            <span class="ff-red-circle">M</span>
            <span class="ff-red-circle">E</span> 
          </div>
          <img src="" height="5">
          <h2 class="heading-2 | clr-brand-primary-400">
            <div class="imagecenter " style="font-family: Herr von Muellerhoff; margin-top: 0.2rem;" >
              to the fabulous wedding of 
            </div>
          </h2>
      
          <h1 class="heading-2 | ff-blink | ff-blink-end">
            <span class="imagecenter" style="font-family: Codystar; margin-top: 0.2rem;">
              Nani & Sebastian
            </span>
          </h1>
          <h5 class="heading-5 | imagecenter | clr-brand-primary-400" style="margin-top: 0.8rem; font-weight: bold; letter-spacing: .2rem;">
             B  A  V  A  R  I  A
          </h5>
        </div>
      </div>
      
      <h1>
        
        
        <p class="ff-text-main-black" style="margin-top: 2rem; text-align: center" >
          You are cordially invited to our wedding in our hometown village on August 17th 2024. We are looking forward to spend some time on this special day with people who mean the most to us. More importantly, we hope you have a splendid time with lasting memories.
        </p>
       
      </h1>
      <div class="imagecenter">
      <img src="/4U4A7336.png" height="500px"  style="margin-top: 7rem;  opacity:0.9;">
    </div>

    <p class="ff-text-main-black" style="margin-top: 4rem; text-align: center;" >
      As announced in our Save-the-Date card, we want to share some more details on the event now, including the time table and locations. Some parts of our website will be updated later, so stay tuned. Since you are here, we would like to ask the most important question, will you join our wedding?
    </p>
      
      <div class="even-columns" style=" margin-top: 1rem; margin-bottom: 5rem;">
        <div class="ff-neon-box-hover" style="text-align:right; margin-top: 3rem;">
          <a href="/guestsurvey" >Yes, I will </a>
        </div>
      
        <div class="ff-escape | neonYellowStatic-hover" style="text-align:left; margin-top: 3rem;">
          <a href="/guestsurvey" >No, I won't </a>
        </div>
      </div>
      
    </div>
  


<img src="" height="100"/>
<footer class="site-footer" style="background: var(--neutral-200)">
<section class="section | clr-neutral-000 ">
  <div class="container" data-type="narrow2">
    <div class="even-columns">
      <div class="">
      <div class="flow">
          <h2 class="heading-2">
            <div class="clr-neutral-600" style="font-family: Herr von Muellerhoff">
              About our wedding
            </div>
          </h2>
          <ol class="list_roman | clr-neutral-600" style="margin-top:1rem; margin-left:0; list-style-type:none; line-height:1.2; font-size: 0.8rem;">
            <li><p style="font-family: Herr von Muellerhoff; font-size:1.5rem;margin-bottom: 0rem;">When</p> 03:00 pm - 01:00 am, 17th of August 2024 </li>
            <li> <p style="margin-top:1rem;"></p> </li>
            <li><p style="font-family: Herr von Muellerhoff; font-size:1.5rem;margin-bottom: 0rem;">Where</p>  Catholic church St. Martin & Wendelsteinhaus</li>
          </ol>
      </div>
      </div>
      <div class="">
        
      </div>
    </div>
  </div>
</section>
</footer>
</section>


<section class="hero | section | body_phone">
  <div class="sh-home sh-home-transition"></div>
  <div class="container" data-type="narrow">
    
  <header class="site-header" style="margin-bottom:-4rem;" >
    <div class="flow" style="margin-bottom:0rem;">
    
      <img src="" height="10"/>
      <div class="menu-leiste"></div>
    <div class="menu-btn" style="margin-top: 1rem;">
      <div class="btn-line" style="background: rgba(255, 255, 255, 0.543)"></div>
      <div class="btn-line" style="background: rgba(255, 255, 255, 0.543)"></div>
      <div class="btn-line" style="background: rgba(255, 255, 255, 0.543)"></div>
    </div>
    
  <nav class="menu | fade-in-text-2 " style="z-index: 2" >
    <img src="" height="100">
    
    <ul class="ff-flash | menu-nav | flip-menu-blackbox" style="font-size:1.5rem; line-height:1.7;">

      <li class="nav-item ">
        <a href="/" style="font-family: Codystar" class="">Home</a>
      </li>

      <li class="nav-item">
        <a href="/guestsurvey" style="font-family: Codystar" class="">Guest Survey</a>
      </li>

      <li class="nav-item">
        <a href="/timeline" style="font-family: Codystar" class="">Timeline</a>
      </li>

      <li class="nav-item">
        <a href="/locations" style="font-family: Codystar" class="">Locations</a>
      </li>
      
      <li class="nav-item">
        <a href="/photozone" style="font-family: Codystar" class="">Photo Zone</a>
      </li>
    </ul>
  </nav>

</div>
</header>
    
      
      
        <div class="imagecenter" style="margin-top:0rem;">
          <div class="lasvegashome" | style="z-index:-1">
            <h2 class="heading-2"></br></br></h2>
            <div class=" imagecenter" style="">
              <span class="ff-red-circle-small">W</span>
              <span class="ff-red-circle-small">E</span>
              <span class="ff-red-circle-small">L</span>
              <span class="ff-red-circle-small">C</span>
              <span class="ff-red-circle-small">O</span>
              <span class="ff-red-circle-small">M</span>
              <span class="ff-red-circle-small">E</span>
            </div>
            <img src="" height="5">
            <h2 class="heading-3 | clr-brand-primary-400">
              <div class="imagecenter " style="font-family: Herr von Muellerhoff; margin-top: 0.2rem;" >
                to the fabulous wedding of 
              </div>
            </h2>
            <h3 class="heading-3 | ff-blink | ff-blink-end">
              <span class="imagecenter | headingstar" style="font-family: Codystar; margin-top: 0.2rem">
                Nani & Sebastian
              </span>
            </h3>
            <h5 class=" imagecenter | clr-brand-primary-400 | headingbavaria" style="margin-top: 0.8rem; font-weight: bold; letter-spacing: 0.3rem; ">
              BAVARIA
            </h5>
          </div>  
        </div>  

    
    <p class="ff-text-main-black" style="margin-top:0rem; margin-bottom:2rem; text-align:center;">
      You are cordially invited to our wedding in our hometown village on August 17th 2024. We are looking forward to spend some time on this special day with people who mean the most to us. More importantly, we hope you have a splendid time with lasting memories.
    </p>

    <div class="imagecenter" style="margin-top:1rem; z-index: 1;">
      <div class="homephoto homephoto-transition"></div>
    </div>
        
        
    <p class="ff-text-main-black" style="margin-top: 2rem; text-align: center" >
      As announced in our Save the Date card, we want to share some more details on the event now, including the time table and locations. Some parts of our website will be updated later, so stay tuned. Since you are here, we would like to ask the most important question, </br> will you join our wedding?
    </p>
    
      <div class="ff-neon-box" style="text-align:center; margin-top: 3rem;">
        <a href="/guestsurvey" >Yes, I will! </a>
      </div>
    
  </div>

<img src="" height="100"/>
<footer class="site-footer" style="padding-top: 3rem; padding-bottom: 1rem; background: rgba(58,58,58,0.9);">
<section class="section | clr-neutral-000 ">
  <div class="container" data-type="narrow">
    
      
      
          <h2 class="heading-3 | clr-neutral-000">
            <div class="" style="font-family: Herr von Muellerhoff; margin-left:2rem;">
              About our wedding
            </div>
          </h2>
        
          <ol class="list_roman" style="font-size: 0.8rem; margin-top:2rem; margin-left:2rem; list-style-type:none; line-height:1.2;">
            <li><p style="font-family: Herr von Muellerhoff; font-size:1.5rem;margin-bottom: 0rem;">When</p> 03:00 pm - 01:00 am, 17th of August 2024 </li>
            <li> <p style="margin-top:0rem;"></p> </li>
            <li><p style="font-family: Herr von Muellerhoff; font-size:1.5rem;margin-bottom: 0rem;">Where</p>  Catholic church St. Martin & Wendelsteinhaus</li>
          </ol>
        
      
  </div>
</section>
</footer>
</section>

<script src="/main.js" is:inline></script>
</body>

</html>

<script>
  let isLoggedIn = await localStorage.getItem('isLoggedIn')

  if (isLoggedIn === null) {
    window.location.href = '/login'
  }

/*function myFunction(x) {
  
  x.classList.toggle("change");
}
document.getElementById("menu").addEventListener("click", myFunction);*/

		// Select dom items
		const menuBtn = 
			document.querySelector(".menu-btn");

		const menu = 
			document.querySelector(".menu");

		const menuNav = 
			document.querySelector(".menu-nav");

		const navItems = 
			document.querySelectorAll(".nav-item");

		// Set the initial state of the menu
		let showMenu = false;

		menuBtn.addEventListener("click", toggleMenu);

		function toggleMenu() {
			if (!showMenu) {
				menuBtn.classList.add("close");
				menu.classList.add("show");
				menuNav.classList.add("show");
				
				navItems.forEach((item) =>
					item.classList.add("show"));

				// Reset the menu state
				showMenu = true;
			} else {
				menuBtn.classList.remove("close");
				menu.classList.remove("show");
				menuNav.classList.remove("show");
				
				navItems.forEach((item) =>
					item.classList.remove("show"));

				// Reset the menu state
				showMenu = false;
			}
		}

    const shhome = document.querySelector('.sh-home');
    shhome.classList.remove('sh-home-transition');

    const homephoto = document.querySelector('.homephoto');
    homephoto.classList.remove('homephoto-transition');

// Create the observer, same as before:
const observer = new IntersectionObserver(entries => {
  entries.forEach(entry => {
    if (entry.isIntersecting) {
      shhome.classList.add('sh-home-transition');
      homephoto.classList.add('homephoto-transition');
      
      return;
    }
    shhome.classList.remove('sh-home-transition');
    homephoto.classList.remove('homephoto-transition');
    
  });
});

observer.observe(document.querySelector('.sh-home'));
observer.observe(document.querySelector('.homephoto'));

</script>