---
import "../main.scss";
const { title } = Astro.props;
export const prerender = true;

import '@fontsource/twinkle-star';
import '@fontsource/dancing-script';
import '@fontsource/herr-von-muellerhoff';
import '@fontsource/monoton';
import '@fontsource/codystar';
import '@fontsource/caveat';
import '@fontsource/yanone-kaffeesatz';
import '@fontsource/pinyon-script';
import '@fontsource/cinzel-decorative';
import '@fontsource/cinzel';
import '@fontsource/bodoni-moda';
import '@fontsource/monofett';
import '@fontsource/great-vibes';
---

<!DOCTYPE html>
<html lang="en">
  
<head>
  
  <meta charset="UTF-8" />
  <link rel="icon" type="images/png+xml" href="herz pink.png" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible"
  content="ie=edge" />
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
  <title>{title}</title>
  <link rel="stylesheet" href="/src/main.scss">
</head>

<body>
  
<div class="body_web">
    <header class="site-header" style="" >
      <div class="container" style="">
        <div class="imagecenter | site-header__inner">
        <nav class="">
          <ul class="ff-flash | flex-group" style="">
    
            <li class="">
              <a href="/" style="font-family: Codystar" class="heading-3">Home</a>
            </li>
    
            <li class="">
              <a href="/guestsurvey" style="font-family: Codystar" class="heading-3">Guest Survey</a>
            </li>
    
            <li class="">
              <a href="/location" style="font-family: Codystar" class="heading-3">Location</a>
            </li>
    
            <li class="">
              <a href="/timeline" style="font-family: Codystar" class="heading-3">Timeline</a>
            </li>
    
            <li class="">
              <a href="/photozone" style="font-family: Codystar" class="heading-3">Photo Zone</a>
            </li>
          </ul>
        </nav>
      </div> 
          
        </div>
      </div>
    </header>
  </div>  

<section class="hero | section | body_web">
  <div class="container" data-type="narrow2" style="">
    
      <div class="imagecenter" style="margin-top: 4rem">
        <div class="lasvegashome">
          <h2 class="heading-2"></br></br></h2>
          <div class=" imagecenter" style="">
            <span class="ff-red-circle">W</span>
            <span class="ff-red-circle">E</span>
            <span class="ff-red-circle">L</span>
            <span class="ff-red-circle">C</span>
            <span class="ff-red-circle">O</span>
            <span class="ff-red-circle">M</span>
            <span class="ff-red-circle">E</span> 
          </div>
          <img src="" height="5">
          <h2 class="heading-2 | clr-brand-primary-400">
            <div class="imagecenter " style="font-family: Herr von Muellerhoff; margin-top: 0.2rem;" >
              to the fabulous wedding of 
            </div>
          </h2>
      
          <h1 class="heading-2 | ff-blink | ff-blink-end">
            <span class="imagecenter" style="font-family: Codystar; margin-top: 0.2rem;">
              Nani & Sebastian
            </span>
          </h1>
          <h5 class="heading-5 | imagecenter | clr-brand-primary-400" style="margin-top: 0.8rem; font-weight: bold; letter-spacing: .2rem;">
             B  A  V  A  R  I  A
          </h5>
        </div>
      </div>
      <div class="even-columns" style=" margin-top: 1rem;">
        <div class="ff-neon-box-hover" style="text-align:right">
          <a href="/guestsurvey" >Join our wedding </a>
        </div>
      
        <div class="neonYellowStatic-hover"  style="text-align:left">
          <a href="/location">Learn more</a>
        </div>
      </div>
      
      <h1>
        
        
        <p class="ff-text-main-black" style="margin-top: 5rem; text-align: center" >
          Dichte ist der Quotient aus Masse und Volumen: Dichte = Masse Volumen . Die Einheit der Dichte wird in Chemiebüchern aus praktischen Gründen in g c m 3 angegeben, im Physikunterricht wird in der Regel die Einheit in k g m 3 angegeben. 
        </p>
       
      </h1>
      <div class="imagecenter">
      <img src="/4U4A7336.png" height="500px"  style="margin-top: 10%;  opacity:0.9;">
    </div>

    <p class="ff-text-main-black" style="margin-top: 2.5rem; text-align: center;" >
      Dichte ist der Quotient aus Masse und Volumen: Dichte = Masse Volumen . Die Masse und das Volumen einer Stoffportion sind zueinander gleich. Die Einheit der Dichte wird in Chemiebüchern aus praktischen Gründen in g c m 3 angegeben, im Physikunterricht wird in der Regel die Einheit in k g m 3 angegeben.  Since you are here we'd like to ask - are you joining our party?
    </p>
      
      <div class="even-columns" style=" margin-top: 1rem;">
        <div class="ff-neon-box-hover" style="text-align:right; margin-top: 3rem;">
          <a href="/guestsurvey" >Yes, I am! </a>
        </div>
      
        <div class="ff-escape | neonYellowStatic-hover" style="text-align:left; margin-top: 3rem;">
          <a href="/guestsurvey" >No, I am not. </a>
        </div>
      </div>
      
    </div>
  


<img src="" height="100"/>
<footer class="site-footer">
<section class="section | clr-neutral-000 ">
  <div class="container" data-type="narrow2">
    <div class="even-columns">
      <div class="">
      <div class="flow">
          <h2 class="heading-2">
            <div class="ff-neon-blue" style="font-family: Herr von Muellerhoff">
              About our wedding
            </div>
          </h2>
          <ol class="list_roman" style="margin-left:0; list-style-type:none; line-height:1;">
            <li>When: 3 pm - 12 am, 17th of August 2024</li>
            <li>Where: Church St. Martin & Wendelsteinhaus</li>
          </ol>
      </div>
      </div>
      <div class="">
        
      </div>
    </div>
  </div>
</section>
</footer>
</section>


<section class="hero | section | body_phone">
  <div class="container" data-type="narrow">
    
  <header class="site-header" style="margin-bottom:-2rem" >
    <div class="flow">
    <div class="flow">
      <img src="" height="10"/>
      <div class="menu-leiste"></div>
    <div class="menu-btn" style="margin-top: 1rem;">
      <div class="btn-line" style="background: rgba(255, 255, 255, 0.543)"></div>
      <div class="btn-line" style="background: rgba(255, 255, 255, 0.543)"></div>
      <div class="btn-line" style="background: rgba(255, 255, 255, 0.543)"></div>
    </div>
    
  <nav class="menu | fade-in-text-2 " style="z-index: 2" >
    <img src="" height="100">
    
    <ul class="ff-flash | menu-nav | flip-menu-blackbox" style="font-size:1.5rem; line-height:1.7;">

      <li class="nav-item ">
        <a href="/" style="font-family: Codystar" class="">Home</a>
      </li>

      <li class="nav-item">
        <a href="/guestsurvey" style="font-family: Codystar" class="">Guest Survey</a>
      </li>

      <li class="nav-item">
        <a href="/location" style="font-family: Codystar" class="">Location</a>
      </li>

      <li class="nav-item">
        <a href="/timeline" style="font-family: Codystar" class="">Timeline</a>
      </li>

      <li class="nav-item">
        <a href="/photozone" style="font-family: Codystar" class="">Photo Zone</a>
      </li>
    </ul>
  </nav>
</div>
</div>
</header>
    
      
      
        <div class="imagecenter">
          <div class="lasvegashome" | style="z-index:-1">
            <h2 class="heading-2"></br></br></h2>
            <div class=" imagecenter" style="">
              <span class="ff-red-circle-small">W</span>
              <span class="ff-red-circle-small">E</span>
              <span class="ff-red-circle-small">L</span>
              <span class="ff-red-circle-small">C</span>
              <span class="ff-red-circle-small">O</span>
              <span class="ff-red-circle-small">M</span>
              <span class="ff-red-circle-small">E</span>
            </div>
            <img src="" height="5">
            <h2 class="heading-3 | clr-brand-primary-400">
              <div class="imagecenter " style="font-family: Herr von Muellerhoff; margin-top: 0.2rem;" >
                to the fabulous wedding of 
              </div>
            </h2>
            <h3 class="heading-3 | ff-blink | ff-blink-end">
              <span class="imagecenter" style="font-family: Codystar; margin-top: 0.2rem; font-size:1.7rem">
                Nani & Sebastian
              </span>
            </h3>
            <h5 class=" imagecenter | clr-brand-primary-400" style="margin-top: 0.8rem; font-weight: bold; letter-spacing: 0.3rem; font-size: 0.8rem;">
              BAVARIA
            </h5>
          </div>  
        </div>  

        <div class="even-columns | imagecenter" style=" margin-top: 1.5rem;">
          <div class="ff-neon-box-hover" style="text-align:right">
            <a href="/guestsurvey" >Join our wedding </a>
          </div>
          <div class="neonYellowStatic-hover"  style="text-align:left">
            <a href="/location">Learn more</a>
          </div>
        </div>

    
    <p class="ff-text-main-black" style="margin-top:3rem; margin-bottom:2rem; text-align:center;">
      Dichte ist der Quotient aus Masse und Volumen: Dichte = Masse Volumen . Die Masse und das Volumen einer Stoffportion sind zueinander gleich.
    </p>

    <div class="imagecenter" style="margin-top:1rem; z-index: 1;">
      <img src="/4U4A7336.png" height="400" style="margin-top:1rem;opacity:0.8;"/>
    </div>
        
        
    <p class="ff-text-main-black" style="margin-top: 2rem; text-align: center" >
      Dichte ist der Quotient aus Masse und Volumen: Dichte = Masse Volumen . Die Masse und das Volumen einer Stoffportion sind zueinander gleich. Die Einheit der Dichte wird in Chemiebüchern aus praktischen Gründen in g c m 3 angegeben, im Physikunterricht wird in der Regel die Einheit in k g m 3 angegeben.  Since you are here we'd like to ask - are you joining our party?
    </p>
    
      <div class="ff-neon-box" style="text-align:center; margin-top: 3rem;">
        <a href="/guestsurvey" >Yes, I am! </a>
      </div>
    
  </div>

<img src="" height="100"/>
<footer class="site-footer" style="padding-top: 3rem; padding-bottom: 3rem; background: rgba(58,58,58,0.9);">
<section class="section | clr-neutral-000 ">
  <div class="container" data-type="narrow">
    
      
      
          <h2 class="heading-2 | clr-brand-primary-400">
            <div class="ff-neon-blue" style="font-family: Herr von Muellerhoff">
              About our wedding
            </div>
          </h2>
        
          <ol class="list_roman" style="margin-left:0; list-style-type:none; line-height:1;">
            <li>When: 3 pm - 12 am, 17th of August 2024</li>
            <li>Where: Church St. Martin & Wendelsteinhaus</li>
          </ol>
        
      
  </div>
</section>
</footer>
</section>

<script src="/main.js" is:inline></script>
</body>

</html>

<script>
  let isLoggedIn = await localStorage.getItem('isLoggedIn')

  if (isLoggedIn === null) {
    window.location.href = '/login'
  }

/*function myFunction(x) {
  
  x.classList.toggle("change");
}
document.getElementById("menu").addEventListener("click", myFunction);*/

		// Select dom items
		const menuBtn = 
			document.querySelector(".menu-btn");

		const menu = 
			document.querySelector(".menu");

		const menuNav = 
			document.querySelector(".menu-nav");

		const navItems = 
			document.querySelectorAll(".nav-item");

		// Set the initial state of the menu
		let showMenu = false;

		menuBtn.addEventListener("click", toggleMenu);

		function toggleMenu() {
			if (!showMenu) {
				menuBtn.classList.add("close");
				menu.classList.add("show");
				menuNav.classList.add("show");
				
				navItems.forEach((item) =>
					item.classList.add("show"));

				// Reset the menu state
				showMenu = true;
			} else {
				menuBtn.classList.remove("close");
				menu.classList.remove("show");
				menuNav.classList.remove("show");
				
				navItems.forEach((item) =>
					item.classList.remove("show"));

				// Reset the menu state
				showMenu = false;
			}
		}

</script>