---
import "../main.scss";
const { title, siteheader, siteheaderphone, siteheaderinner } = Astro.props;

import '@fontsource/twinkle-star';
import '@fontsource/dancing-script';
import '@fontsource/herr-von-muellerhoff';
import '@fontsource/monoton';
import '@fontsource/codystar';
import '@fontsource/caveat';
import '@fontsource/yanone-kaffeesatz';
import '@fontsource/pinyon-script';
import '@fontsource/cinzel-decorative';
import '@fontsource/cinzel';
---

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <link rel="icon" type="images/png+xml" href="herz gelb.png" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  
  <title>{title}</title>
  <link rel="stylesheet" href="/src/main.scss">
</head>

<body>
  <div class="body_web">
  <header class={siteheader}>
    
      <div class="flow">
      
        <img src="" height="100"/>
        <div class="flow">
          <img src="" height="10"/>
          <div class="menu-btn">
            <div class="btn-line" style="background: var(--brand-primary-100)"></div>
            <div class="btn-line" style="background: var(--brand-primary-100)"></div>
            <div class="btn-line" style="background: var(--brand-primary-100)"></div>
          </div>
        <nav class="menu | fade-in-3" style="background: none;" >
          <img src="" height="100">
          
          <ul class="ff-flash | menu-nav | flip-menu-casino | fade-in-text-2" style="">
    
            <li class="nav-item ">
              <a href="/" style="font-family: Codystar" class="heading-3">Home</a>
            </li>
    
            <li class="nav-item">
              <a href="/guestsurvey" style="font-family: Codystar" class="heading-3">Guest Survey</a>
            </li>
    
            <li class="nav-item">
              <a href="/location" style="font-family: Codystar" class="heading-3">Location</a>
            </li>
    
            <li class="nav-item">
              <a href="/timeline" style="font-family: Codystar" class="heading-3">Timeline</a>
            </li>
    
            <li class="nav-item">
              <a href="/photozone" style="font-family: Codystar" class="heading-3">Photo Zone</a>
            </li>
          </ul>
        </nav>
      </div>
      
    
  </header>
  <img src="" height="100">
</div>

<div class="body_phone">
  <div class={siteheader}></div>
  <header>
    
      <div class="flow">
        <img src="" height="10"/>
        <div class="menu-btn">
          <div class="btn-line"></div>
          <div class="btn-line"></div>
          <div class="btn-line"></div>
        </div>
    
        <nav class="menu | fade-in-3">
          <img src="" height="100">
          
          <ul class="ff-flash | menu-nav | flip-menu | fade-in-text-2" style="text-align: center;">
    
            <li class="nav-item ">
              <a href="/" style="font-family: Herr von Muellerhoff" class="heading-3">Home</a>
            </li>
    
            <li class="nav-item">
              <a href="/guestsurvey" style="font-family: Herr von Muellerhoff" class="heading-3">Guest Survey</a>
            </li>
    
            <li class="nav-item">
              <a href="/location" style="font-family: Herr von Muellerhoff" class="heading-3">Location</a>
            </li>
    
            <li class="nav-item">
              <a href="/timeline" style="font-family: Herr von Muellerhoff" class="heading-3">Timeline</a>
            </li>
    
            <li class="nav-item">
              <a href="/photozone" style="font-family: Herr von Muellerhoff" class="heading-3">Photo Zone</a>
            </li>
          </ul>
        </nav>
      </div>
    
  </header>
  <img src="" height="50"/>
</div>

<slot />
<img src="" height="100">
<div class="body_web">
<footer class="site-footer">
  <section class="section | clr-neutral-000 ">
    <div class="container" data-type="wide">
      <div class="even-columns">
        <div class="">
        <div class="flow">
            <h2 class="heading-2 | clr-brand-primary-700">
              <div style="font-family: Herr von Muellerhoff">
                About our wedding
              </div>
            </h2>
          <p class="clr-brand-primary-700">
            Wann findet unsere Hochzeit statt, wo findet sie statt.
          <br>
          </br>
          </p>
          
        </div>
        </div>
        <div class="">
          
        </div>
      </div>
    </div>
  </section>
  </footer>
</div>

<div class="body_phone">
  <img src="" height="100"/>
  <footer class="site-footer">
  <section class="section | clr-neutral-000 ">
    <div class="container" data-type="narrow">
      <div class="even-columns">
        <div class="">
        <div class="flow">
            <h3 class="heading-3 | clr-brand-primary-700">
              <div style="font-family: Herr von Muellerhoff">
                About our wedding
              </div>
            </h3>
          <p class="clr-brand-primary-700">
            Wann findet unsere Hochzeit statt, wo findet sie statt.
          <br>
          </br>
          </p>
          <a href="/timeline" class="button" data-type="accent">Learn more about the day</a>
        </div>
        </div>
        <div class="">
          
        </div>
      </div>
    </div>
  </section>
  </footer>
</div>
<script src="/main.js" is:inline></script>
</body>

</html>

<script>
  let isLoggedIn = await localStorage.getItem('isLoggedIn')

  if (isLoggedIn === null) {
    window.location.href = '/login'
  }

		// Select dom items
		const menuBtn = 
			document.querySelector(".menu-btn");

		const menu = 
			document.querySelector(".menu");

		const menuNav = 
			document.querySelector(".menu-nav");

		const navItems = 
			document.querySelectorAll(".nav-item");

		// Set the initial state of the menu
		let showMenu = false;

		menuBtn.addEventListener("click", toggleMenu);

		function toggleMenu() {
			if (!showMenu) {
				menuBtn.classList.add("close");
				menu.classList.add("show");
				menuNav.classList.add("show");
				
				navItems.forEach((item) =>
					item.classList.add("show"));

				// Reset the menu state
				showMenu = true;
			} else {
				menuBtn.classList.remove("close");
				menu.classList.remove("show");
				menuNav.classList.remove("show");
				
				navItems.forEach((item) =>
					item.classList.remove("show"));

				// Reset the menu state
				showMenu = false;
			}
		}
</script>